openapi: 3.0.0
info:
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  description: 'The Zoom Meeting APIs let developers to access information from Zoom. '
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  title: Zoom Meeting API
  version: "2"
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
- url: https://api.zoom.us/v2
tags:
- name: Webinars
- name: Meetings
- name: Reports
- name: Cloud Recording
- name: Devices
- name: TSP
- name: Archiving
- name: Tracking Field
- name: H323 Devices
- name: SIP Phone
- name: PAC
paths:
  /archive_files:
    get:
      description: "Get an account's archived meeting or webinar files. \n\n Zoom's\
        \ [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators)\
        \ lets account administrators set up an automated mechanism to record, collect,\
        \ and archive meeting data to a third-party platform of their choice to satisfy\
        \ FINRA or other compliance requirements. \n\n **Prerequisites:** \n* The\
        \ [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)\
        \ enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\
        \n**Scopes:** `recording:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `MEDIUM`"
      operationId: Archiving_meetingFilesList
      parameters:
      - description: The number of records returned within a single API call.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          example: 30
          maximum: 300
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-get-parameters-0-schema
        style: form
      - description: Use the next page token to paginate through large result sets.
          A next page token is returned whenever the set of available results exceeds
          the current page size. This token's expiration period is 15 minutes.
        explode: true
        in: query
        name: next_page_token
        required: false
        schema:
          example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          type: string
          x-konfig-original-example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-get-parameters-1-schema
        style: form
      - description: "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This\
          \ value and the `to` query parameter value cannot exceed seven days."
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2021-03-11T05:41:36Z
          format: date-time
          type: string
          x-konfig-original-example: 2021-03-11T05:41:36Z
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-get-parameters-2-schema
        style: form
      - description: "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This\
          \ value and the `from` query parameter value cannot exceed seven days."
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 2021-03-18T05:41:36Z
          format: date-time
          type: string
          x-konfig-original-example: 2021-03-18T05:41:36Z
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-get-parameters-3-schema
        style: form
      - description: "The type of query date.\n* `meeting_start_time` \n* `archive_complete_time`\
          \ \n\n This value defaults to `meeting_start_time`."
        explode: true
        in: query
        name: query_date_type
        required: false
        schema:
          default: meeting_start_time
          enum:
          - meeting_start_time
          - archive_complete_time
          example: meeting_start_time
          type: string
          x-konfig-original-example: meeting_start_time
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-get-parameters-4-schema
        style: form
      - description: "The group ID. To get a group ID, use the [List groups](https://developers.zoom.us/docs/api/rest/reference/scim-api/methods/#operation/groupSCIM2List)\
          \ API."
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          example: pvFIYKSDTum9iCDOOtQL4w
          type: string
          x-konfig-original-example: pvFIYKSDTum9iCDOOtQL4w
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-get-parameters-5-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingMeetingFilesListResponse'
          description: "**HTTP Status Code:** `200`   \n \n Archived files returned."
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error\
            \ Code:** `2001` <br>\n Account does not exist: {accountId} <br>\n"
      security:
      - openapi_oauth:
        - recording:read:admin
        openapi_authorization: []
      summary: List archived files
      tags:
      - Archiving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--archive_files
      x-accepts: application/json
  /archive_files/statistics:
    get:
      description: "Get statistics about an account's archived meeting or webinar\
        \ files. \n\n Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators)\
        \ lets account administrators set up an automated mechanism to record, collect,\
        \ and archive meeting data to a third-party platform of their choice to satisfy\
        \ FINRA and other compliance requirements. \n\n **Prerequisites:** \n* The\
        \ [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)\
        \ enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\
        \n**Scopes:** `recording:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`"
      operationId: Archiving_getStatistics
      parameters:
      - description: "The query start date, `yyyy-MM-dd'T'HH:mm:ssZ` format. This\
          \ value and the `to` query parameter value cannot exceed seven days."
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2021-03-11T05:41:36Z
          format: date-time
          type: string
          x-konfig-original-example: 2021-03-11T05:41:36Z
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-statistics-get-parameters-0-schema
        style: form
      - description: "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This\
          \ value and the `from` query parameter value cannot exceed seven days."
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 2021-03-18T05:41:36Z
          format: date-time
          type: string
          x-konfig-original-example: 2021-03-18T05:41:36Z
          x-konfig-generated-schema: konfig-generated-schema-paths--archive_files-statistics-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingGetStatisticsResponse'
          description: "**HTTP Status Code:** `200`   \n \n The statistics of Archived\
            \ files returned."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `2001` <br>
            Account does not exist: {accountId}

      security:
      - openapi_oauth:
        - recording:read:admin
        openapi_authorization: []
      summary: Get archived file statistics
      tags:
      - Archiving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--archive_files-statistics
      x-accepts: application/json
  /archive_files/{fileId}:
    patch:
      description: "Update an archived file's auto-delete status. \n\n **Prerequisites:**\
        \ \n* [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003)\
        \ must enable the [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)\
        \ for your account.\n* Open the disabling auto-delete feature in OP. Contact\
        \ [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.\n\
        \n**Scopes:** `recording:write`,`recording:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `LIGHT`"
      operationId: Archiving_updateAutoDeleteStatus
      parameters:
      - explode: false
        in: path
        name: fileId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchivingUpdateAutoDeleteStatusRequest'
      responses:
        "204": {}
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n "
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n "
      security:
      - openapi_oauth:
        - recording:write
        - recording:write:admin
        openapi_authorization: []
      summary: Update an archived file's auto-delete status
      tags:
      - Archiving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--archive_files-fileId
      x-content-type: application/json
      x-accepts: application/json
  /past_meetings/{meetingUUID}/archive_files:
    delete:
      description: "Use this API to delete all of a meeting's archived files. \n\n\
        \ **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)\
        \ enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\
        \n**Scopes:** `recording:write:admin`,`recording:write`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: Archiving_meetingFilesDelete
      parameters:
      - description: |-
          The meeting's universally unique identifier (UUID). Each meeting instance generates a UUID. For example, after a meeting ends, a new UUID is generated for the next meeting instance.

          If the meeting UUID begins with a `/` character or contains a `//` character, you **must** [double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid) the meeting UUID when using the meeting UUID for other API calls.
        explode: false
        in: path
        name: meetingUUID
        required: true
        schema:
          example: 4444AAAiAAAAAiAiAiiAii==
          type: string
          x-konfig-original-example: 4444AAAiAAAAAiAiAiiAii==
          x-konfig-generated-schema: konfig-generated-schema-paths--past_meetings-meetingUUID-archive_files-delete-parameters-0-schema
        style: simple
      responses:
        "204":
          description: "**HTTP Status Code:** `200`   \n \n Meeting archived files\
            \ returned."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `200` <br>
            Only available for Paid account.

            **Error Code:** `200` <br>
            Not available for this account.

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `3001` <br>
            Meeting does not exist: {0}

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Delete a meeting's archived files
      tags:
      - Archiving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--past_meetings-meetingUUID-archive_files
      x-accepts: application/json
    get:
      description: "Return a specific meeting instance's [archived files](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators).\
        \ \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)\
        \ enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\
        \n**Scopes:** `recording:read`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `LIGHT`"
      operationId: Archiving_meetingFilesList
      parameters:
      - description: |-
          The meeting's universally unique identifier (UUID). Each meeting instance generates a UUID. After a meeting ends, a new UUID is generated for the next meeting instance.

          If the meeting UUID begins with a `/` character or contains a `//` character, you **must** [double encode](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#meeting-id-and-uuid) the meeting UUID when using the meeting UUID for other API calls.
        explode: false
        in: path
        name: meetingUUID
        required: true
        schema:
          example: 4444AAAiAAAAAiAiAiiAii==
          type: string
          x-konfig-original-example: 4444AAAiAAAAAiAiAiiAii==
          x-konfig-generated-schema: konfig-generated-schema-paths--past_meetings-meetingUUID-archive_files-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivingMeetingFilesList200Response'
          description: "**HTTP Status Code:** `200`   \n\n Meeting archived files\
            \ returned."
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error\
            \ Code:** `3001` <br>\n Meeting {meetingUUId} does not exist. <br> <br>\n"
      security:
      - openapi_oauth:
        - recording:read
        openapi_authorization: []
      summary: Get a meeting's archived files
      tags:
      - Archiving
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--past_meetings-meetingUUID-archive_files
      x-accepts: application/json
  /meetings/{meetingId}/recordings:
    delete:
      description: "Delete all recording files of a meeting.  \n   \n\n \n\n**Prerequisites**:\n\
        * Cloud Recording should be enabled on the user's account.  \n \n\n\n**Scopes:**\
        \ `recording:write:admin`,`recording:write`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: CloudRecording_deleteMeetingRecordings
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-delete-parameters-0-schema
        style: simple
      - description: "The recording delete actions:  \n `trash` - Move recording to\
          \ trash.  \n `delete` - Delete recording permanently."
        explode: true
        in: query
        name: action
        required: false
        schema:
          default: trash
          enum:
          - trash
          - delete
          example: trash
          type: string
          x-konfig-original-example: trash
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-delete-parameters-1-schema
        style: form
      responses:
        "200":
          description: "**HTTP Status Code:** `200`   \n \nRecordings deleted. \n\n\
            **Error Code:** `200`   \n \nYou do not have the right permission."
        "204":
          description: "**HTTP Status Code:** `204`   \n \nMeeting recording deleted."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User does not belong to this account: {accountId}. <br/>

            **Error Code:** `3332` <br>
            This recording was selected for a simulive webinar. You cannot delete or trash it.

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User {userId} does not exist or does not belong to this account.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Delete meeting recordings
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--meetings-meetingId-recordings
      x-accepts: application/json
    get:
      description: "Returns all of a meeting's [recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording#h_7420acb5-1897-4061-87b4-5b76e99c03b4).\n\
        \n Use the `download_url` property listed in the response to download the\
        \ recording files.  To access a passcode-protected cloud recording, send the\
        \ user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/)\
        \ as a Bearer token in the Authorization header. \n \n Example:  `curl -H\
        \ 'Authorization: Bearer <ACCESS_TOKEN>' https://{{base-domain}}/rec/archive/download/xyz`\
        \  \n\n**Scopes:** `recording:read`,`phone_recording:read:admin`\n\n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `LIGHT`"
      operationId: CloudRecording_getMeetingRecordings
      parameters:
      - description: "To get a meeting's cloud recordings, provide the meeting ID\
          \ or UUID. If providing the meeting ID instead of UUID, the response will\
          \ be for the latest meeting instance. \n\nTo get a webinar's cloud recordings,\
          \ provide the webinar's ID or UUID. If providing the webinar ID instead\
          \ of UUID, the response will be for the latest webinar instance. \n\nIf\
          \ a UUID starts with `/` or contains `//` (example: `/ajXp112QmuoKj4854875==`),\
          \ **[double encode](https://developers.zoom.us) the UUID** before making\
          \ an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-get-parameters-0-schema
        style: simple
      - description: The `download_access_token` value for downloading the meeting's
          recordings.
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          example: a2f19f96-9294-4f51-8134-6f0eea108eb2
          type: string
          x-konfig-original-example: a2f19f96-9294-4f51-8134-6f0eea108eb2
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-get-parameters-1-schema
        style: form
      - description: The `download_access_token` Time to Live (TTL) value. This parameter
          is only valid if the `include_fields` query parameter contains the `download_access_token`
          value.
        explode: true
        in: query
        name: ttl
        required: false
        schema:
          example: 1
          maximum: 604800
          minimum: 0
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingGetMeetingRecordingsResponse'
          description: "**HTTP Status Code:** `200`   \n \nRecording object returned.\
            \ \n\n**Error Code:** `200`   \n \nYou do not have the right permissions."
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error\
            \ Code:** `1010` <br>\n User not found on this account: {accountId}. <br>\n"
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error\
            \ Code:** `1001` <br>\n User \"{userId}\" does not exist or does not belong\
            \ to this account. <br>\n**Error Code:** `3301` <br>\n There is no recording\
            \ for this meeting. <br>\n"
      security:
      - openapi_oauth:
        - recording:read
        - phone_recording:read:admin
        openapi_authorization: []
      summary: Get meeting recordings
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--meetings-meetingId-recordings
      x-accepts: application/json
  /meetings/{meetingId}/recordings/analytics_details:
    get:
      description: "Use this API to return a meeting recording's [analytics details](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163).\
        \ **Maximum duration: 1 Month**. To access a password-protected cloud recording,\
        \ send the user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/)\
        \ as a Bearer token in the Authorization header. For example, \n\n `curl -H\
        \ &quot;Authorization: Bearer &lt;ACCESS_TOKEN&gt;&quot; https://{{base-domain}}/rec/archive/download/xyz`\
        \ \n\n\n \n\n**Scopes:** `recording:read:admin`,`recording:read`\n\n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`"
      operationId: analytics_details
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_details-get-parameters-0-schema
        style: simple
      - description: The number of records returned within a single API call.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          example: 30
          maximum: 300
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_details-get-parameters-1-schema
        style: form
      - description: Use the next page token to paginate through large result sets.
          A next page token is returned whenever the set of available results exceeds
          the current page size. This token's expiration period is 15 minutes.
        explode: true
        in: query
        name: next_page_token
        required: false
        schema:
          example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          type: string
          x-konfig-original-example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_details-get-parameters-2-schema
        style: form
      - description: "The start date for the monthly range to query. The maximum range\
          \ can be a month. If you do not provide this value, this defaults to the\
          \ current date."
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2020-06-30
          format: date
          type: string
          x-konfig-original-example: 2020-06-30
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_details-get-parameters-3-schema
        style: form
      - description: The end date for the monthly range to query. The maximum range
          can be a month.
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 2020-07-30
          format: date
          type: string
          x-konfig-original-example: 2020-07-30
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_details-get-parameters-4-schema
        style: form
      - description: "The type of analytics details: \n* `by_view` &mdash; by_view.\
          \ \n* `by_download` &mdash; by_download."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - by_view
          - by_download
          example: by_view
          type: string
          x-konfig-original-example: by_view
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_details-get-parameters-5-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDetailsResponse'
          description: "**HTTP Status Code:** `200`   \n \nAnalytics Detail listed\
            \ successfully."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User not found on this account: {accountId}

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User "{userId}" does not exist or does not belong to this account.

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      security:
      - openapi_oauth:
        - recording:read:admin
        - recording:read
        openapi_authorization: []
      summary: Get Meeting Recording's Analytics Details
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--meetings-meetingId-recordings-analytics_details
      x-accepts: application/json
  /meetings/{meetingId}/recordings/analytics_summary:
    get:
      description: "Use this API to return a meeting recording's [analytics summary](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163).\
        \ **Maximum duration: 1 Month**. To access a password-protected cloud recording,\
        \ send the user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/)\
        \ as a Bearer token in the Authorization header. For example, \n\n `curl -H\
        \ &quot;Authorization: Bearer &lt;ACCESS_TOKEN&gt;&quot; https://{{base-domain}}/rec/archive/download/xyz`\
        \ \n\n\n \n\n**Scopes:** `recording:read:admin`,`recording:read`\n\n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`"
      operationId: analytics_summary
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_summary-get-parameters-0-schema
        style: simple
      - description: "The start date for the monthly range to query. The maximum range\
          \ can be a month. If you do not provide this value, this defaults to the\
          \ current date."
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2020-06-30
          format: date
          type: string
          x-konfig-original-example: 2020-06-30
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_summary-get-parameters-1-schema
        style: form
      - description: The end date for the monthly range to query. The maximum range
          can be a month.
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 2020-07-30
          format: date
          type: string
          x-konfig-original-example: 2020-07-30
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-analytics_summary-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsSummaryResponse'
          description: "**HTTP Status Code:** `200`   \n \nAnalytics Summary listed\
            \ successfully."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User not found on this account: {accountId}

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User "{userId}" does not exist or does not belong to this account.

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      security:
      - openapi_oauth:
        - recording:read:admin
        - recording:read
        openapi_authorization: []
      summary: Get Meeting Recording's Analytics Summary
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--meetings-meetingId-recordings-analytics_summary
      x-accepts: application/json
  /meetings/{meetingId}/recordings/registrants:
    get:
      description: "Use this API to list registrants of a past meeting's [on-demand\
        \ cloud recordings](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-recordings).\
        \ Users must [register](https://developers.zoom.us) to view the recordings.\
        \ \n\n \n\n**Scopes:** `recording:read:admin`,`recording:read`\n\n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`"
      operationId: CloudRecording_listRegistrants
      parameters:
      - description: "The meeting's ID. \n\n When storing this value in your database,\
          \ you must store it as a long format integer and **not** an integer. Meeting\
          \ IDs can exceed 10 digits."
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: 85746065
          format: int64
          type: integer
          x-konfig-original-example: 85746065
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-get-parameters-0-schema
        style: simple
      - description: "Query by the registrant's status: \n* `pending` &mdash; The\
          \ registration is pending. \n* `approved` &mdash; The registrant is approved.\
          \ \n* `denied` &mdash; The registration is denied."
        explode: true
        in: query
        name: status
        required: false
        schema:
          default: approved
          enum:
          - pending
          - approved
          - denied
          example: pending
          type: string
          x-konfig-original-example: pending
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-get-parameters-1-schema
        style: form
      - description: The number of records returned within a single API call.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          example: 30
          maximum: 300
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-get-parameters-2-schema
        style: form
      - description: "**Deprecated.** We will no longer support this field in a future\
          \ release. Instead, use the `next_page_token` for pagination."
        explode: true
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          example: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-get-parameters-3-schema
        style: form
      - description: Use the next page token to paginate through large result sets.
          A next page token is returned whenever the set of available results exceeds
          the current page size. This token's expiration period is 15 minutes.
        explode: true
        in: query
        name: next_page_token
        required: false
        schema:
          example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          type: string
          x-konfig-original-example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-get-parameters-4-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingListRegistrantsResponse'
          description: "**HTTP Status Code:** `200`   \n \n Registrants returned."
        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      security:
      - openapi_oauth:
        - recording:read:admin
        - recording:read
        openapi_authorization: []
      summary: List recording registrants
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--meetings-meetingId-recordings-registrants
      x-accepts: application/json
    post:
      description: "Cloud Recordings of past Zoom Meetings can be made [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings).\
        \ Users should be [registered](https://developers.zoom.us) to view these recordings.\n\
        \nUse this API to register a user to gain access to **On-demand Cloud Recordings**\
        \ of a past meeting.  \n \n\n\n**Scopes:** `recording:write:admin`,`recording:write`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: CloudRecording_createRegistrant
      parameters:
      - description: "The meeting's ID. \n\n When storing this value in your database,\
          \ you must store it as a long format integer and **not** an integer. Meeting\
          \ IDs can exceed 10 digits."
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: 85746065
          format: int64
          type: integer
          x-konfig-original-example: 85746065
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingCreateRegistrantRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingCreateRegistrantResponse'
          description: "**HTTP Status Code:** `201`   \n \nRegistration submitted."
        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Create a recording registrant
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--meetings-meetingId-recordings-registrants
      x-content-type: application/json
      x-accepts: application/json
  /meetings/{meetingId}/recordings/registrants/questions:
    get:
      description: "For [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings)\
        \ meeting recordings, you can include fields with questions that will be shown\
        \ to registrants when they register to view the recording.\n\nUse this API\
        \ to retrieve a list of questions that are displayed for users to complete\
        \ when registering to view the recording of a specific meeting.  \n \n\n\n\
        **Scopes:** `recording:read:admin`,`recording:read`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: CloudRecording_listRegistrationQuestions
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-questions-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingListRegistrationQuestionsResponse'
          description: "**HTTP Status Code:** `200`  \n \nRecording Registrant Question\
            \ object returned."
        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      security:
      - openapi_oauth:
        - recording:read:admin
        - recording:read
        openapi_authorization: []
      summary: Get registration questions
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--meetings-meetingId-recordings-registrants-questions
      x-accepts: application/json
    patch:
      description: "For [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings)\
        \ meeting recordings, you can include fields with questions that will be shown\
        \ to registrants when they register to view the recording.\n\nUse this API\
        \ to update registration questions that are to be answered by users while\
        \ registering to view a recording.  \n \n\n\n**Scopes:** `recording:write:admin`,`recording:write`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: CloudRecording_updateRegistrationQuestions
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-questions-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingUpdateRegistrationQuestionsRequest'
        description: Recording Registrant Questions
      responses:
        "204":
          description: "**HTTP Status Code:** `200`  \n \nRecording Registrant Questions\
            \ Updated"
        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Update registration questions
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--meetings-meetingId-recordings-registrants-questions
      x-content-type: application/json
      x-accepts: application/json
  /meetings/{meetingId}/recordings/registrants/status:
    put:
      description: "A registrant can either be approved or denied from viewing the\
        \ [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings)\
        \ recording. \nUse this API to update a registrant's status.\n\n\n\n**Scopes:**\
        \ `recording:write:admin`,`recording:write`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`"
      operationId: CloudRecording_updateRegistrantStatus
      parameters:
      - description: "The meeting's ID. \n\n When storing this value in your database,\
          \ you must store it as a long format integer and **not** an integer. Meeting\
          \ IDs can exceed 10 digits."
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: 85746065
          format: int64
          type: integer
          x-konfig-original-example: 85746065
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-registrants-status-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingUpdateRegistrantStatusRequest'
      responses:
        "204":
          description: "**HTTP Status Code:** `204`  \n \nRegistrant status updated."
        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Update registrant's status
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--meetings-meetingId-recordings-registrants-status
      x-content-type: application/json
      x-accepts: application/json
  /meetings/{meetingId}/recordings/settings:
    get:
      description: "Retrieves settings applied to a meeting's [Cloud Recording](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording).\
        \  \n   \n\n \n\n\n**Scopes:** `recording:read:admin`,`recording:read`\n\n\
        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `LIGHT`"
      operationId: CloudRecording_getSettings
      parameters:
      - description: "The meeting ID enables you to get cloud recording of a:\n- Meeting,\
          \ provide the meeting ID or meeting UUID. If the meeting ID is provided\
          \ instead of UUID,the response will be for the latest meeting instance.\
          \ \n\n- Webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **double encode**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-settings-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingGetSettingsResponse'
          description: '**HTTP Status Code:** `200`    Meeting recording settings
            returned.'
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n "
      security:
      - openapi_oauth:
        - recording:read:admin
        - recording:read
        openapi_authorization: []
      summary: Get meeting recording settings
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--meetings-meetingId-recordings-settings
      x-accepts: application/json
    patch:
      description: "Updates settings applied to a meeting's [Cloud Recording](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording).\
        \      \n\n**Scopes:** `recording:write`,`recording:write:admin`\n\n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `LIGHT`"
      operationId: CloudRecording_updateSettings
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **double encode**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-settings-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingUpdateSettingsRequest'
      responses:
        "204":
          description: '**HTTP Status Code:** `204`    Meeting recording setting''s
            updated.'
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n "
      security:
      - openapi_oauth:
        - recording:write
        - recording:write:admin
        openapi_authorization: []
      summary: Update meeting recording settings
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--meetings-meetingId-recordings-settings
      x-content-type: application/json
      x-accepts: application/json
  /meetings/{meetingId}/recordings/{recordingId}:
    delete:
      description: |-
        Delete a specific recording file from a meeting.&lt;p style=&quot;background-color:#e1f5fe; color:#01579b; padding:8px&quot;&gt; &lt;b&gt;Note:&lt;/b&gt; To use this API, you must enable the &lt;b&gt;The host can delete cloud recordings&lt;/b&gt; setting. You can find this setting in the &lt;b&gt;Recording&lt;/b&gt; tab of the &lt;b&gt;Settings&lt;/b&gt; interface in the [Zoom web portal](https://zoom.us/).&lt;/p&gt;



        **Scopes:** `recording:write:admin`,`recording:write`

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: CloudRecording_deleteRecording
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-recordingId-delete-parameters-0-schema
        style: simple
      - description: The recording ID.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          example: a2f19f96-9294-4f51-8134-6f0eea108eb2
          type: string
          x-konfig-original-example: a2f19f96-9294-4f51-8134-6f0eea108eb2
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-recordingId-delete-parameters-1-schema
        style: simple
      - description: "The recording delete actions:  \n `trash` - Move recording to\
          \ trash.  \n `delete` - Delete recording permanently."
        explode: true
        in: query
        name: action
        required: false
        schema:
          default: trash
          enum:
          - trash
          - delete
          example: trash
          type: string
          x-konfig-original-example: trash
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-recordingId-delete-parameters-2-schema
        style: form
      responses:
        "200":
          description: "**HTTP Status Code:** `200`   \n \nRecording deleted. \n\n\
            **Error Code:** `200`  \n \nYou do not have the right permissions."
        "204":
          description: "**HTTP Status Code:** `204`   \n \nMeeting recording file\
            \ deleted."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User does not belong to this account: {accountId}.<br>

            **Error Code:** `3303` <br>
            You can not delete an uncompleted meeting. <br/>

            **Error Code:** `3332` <br>
            This recording was selected for a simulive webinar. You cannot delete or trash it. <br>

            **Error Code:** `3332` <br>
            Unable to delete this file because this recording is being used for Zoom IQ for Sales.

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User {userId} does not exist or does not belong to this account.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Delete a meeting recording file
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--meetings-meetingId-recordings-recordingId
      x-accepts: application/json
  /meetings/{meetingId}/recordings/{recordingId}/status:
    put:
      description: "Zoom allows users to recover recordings from trash for up to 30\
        \ days from the deletion date. Use this API to recover a single recording\
        \ file from the meeting.  \n \n\n\n**Scopes:** `recording:write:admin`,`recording:write`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: CloudRecording_recoverStatus
      parameters:
      - description: "To get Cloud Recordings of a meeting, provide the meeting ID\
          \ or meeting UUID. If the meeting ID is provided instead of UUID,the response\
          \ will be for the latest meeting instance. \n\nTo get Cloud Recordings of\
          \ a webinar, provide the webinar ID or the webinar UUID. If the webinar\
          \ ID is provided instead of UUID,the response will be for the latest webinar\
          \ instance. \n\nIf a UUID starts with &quot;/&quot; or contains &quot;//&quot;\
          \ (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**\
          \ the UUID before making an API request. "
        explode: false
        in: path
        name: meetingId
        required: true
        schema:
          example: atsXxhSEQWit9t+U02HXNQ==
          type: string
          x-konfig-original-example: atsXxhSEQWit9t+U02HXNQ==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-recordingId-status-put-parameters-0-schema
        style: simple
      - description: The recording ID.
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          example: a2f19f96-9294-4f51-8134-6f0eea108eb2
          type: string
          x-konfig-original-example: a2f19f96-9294-4f51-8134-6f0eea108eb2
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingId-recordings-recordingId-status-put-parameters-1-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingRecoverStatusRequest'
      responses:
        "204":
          description: "**HTTP Status Code:** `204`   \n  Meeting recording recovered.\n\
            \n"
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User does not belong to this account: {accountId}.

            **Error Code:** `3309` <br>
            Not enough cloud storage available. Either purchase additional storage or delete cloud recordings to free up storage.

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User {userId} does not exist or does not belong to this account.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Recover a single recording
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--meetings-meetingId-recordings-recordingId-status
      x-content-type: application/json
      x-accepts: application/json
  /meetings/{meetingUUID}/recordings/status:
    put:
      description: "Zoom allows users to recover recordings from trash for up to 30\
        \ days from the deletion date. Use this API to recover all deleted [Cloud\
        \ Recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording)\
        \ of a specific meeting.  \n   \n\n \n**Prerequisites**:  \n \n* A Pro user\
        \ with Cloud Recording enabled.\n\n**Scopes:** `recording:write:admin`,`recording:write`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Light`"
      operationId: CloudRecording_recoverRecordingStatus
      parameters:
      - description: |-
          The meeting's universally unique identifier (UUID). Each meeting instance generates a UUID. For example, after a meeting ends, a new UUID is generated for the next meeting instance.

          If the meeting UUID begins with a `/` character or contains a `//` character, you **must** [double encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid) the meeting UUID when using the meeting UUID for other API calls.
        explode: false
        in: path
        name: meetingUUID
        required: true
        schema:
          example: 4444AAAiAAAAAiAiAiiAii==
          type: string
          x-konfig-original-example: 4444AAAiAAAAAiAiAiiAii==
          x-konfig-generated-schema: konfig-generated-schema-paths--meetings-meetingUUID-recordings-status-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRecordingRecoverRecordingStatusRequest'
      responses:
        "200":
          description: "**HTTP Status Code:** `200`   \n \nRecordings recovered. \n\
            \n**Error Code:** `200`  \n \nYou do not have the right permissions."
        "204":
          description: "**HTTP Status Code:** `204`   \n \nDeleted recordings of the\
            \ meeting recovered."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>
            User does not belong to this account: {accountId}.

            **Error Code:** `3309` <br>
            Not enough cloud storage available. Either purchase additional storage or delete cloud recordings to free up storage.

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User does not exist: {userId}.<br>

            **Error Code:** `3301` <br>
            There is no recording for this meeting.

      security:
      - openapi_oauth:
        - recording:write:admin
        - recording:write
        openapi_authorization: []
      summary: Recover meeting recordings
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--meetings-meetingUUID-recordings-status
      x-content-type: application/json
      x-accepts: application/json
  /users/{userId}/recordings:
    get:
      description: "Lists all [cloud recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording)\
        \ for a user.  \n\nFor user-level apps, pass the [`me` value](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#the-me-keyword)\
        \ instead of the `userId` parameter.  To access a user's passcode protected\
        \ cloud recording, send the user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/)\
        \ as a bearer token in the authorization header.  \n\nExample:  `curl -H \"\
        Authorization: Bearer <ACCESS_TOKEN>\" https://{{base-domain}}/rec/archive/download/xyz`\
        \  \n\n**Prerequisites:**  \n* Must have a Pro or a higher plan.  \n* Must\
        \ enable Cloud Recording on the user's account.\n\n**Scopes:** `recording:read:admin`,`recording:read`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `MEDIUM`"
      operationId: CloudRecording_listRecordings
      parameters:
      - description: "The user's ID or email address. For user-level apps, pass the\
          \ `me` value."
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of records returned within a single API call.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          example: 30
          maximum: 300
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-1-schema
        style: form
      - description: The next page token paginates through a large set of results.
          A next page token returns whenever the set of available results exceeds
          the current page size. The expiration period for this token is 15 minutes.
        explode: true
        in: query
        name: next_page_token
        required: false
        schema:
          example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          type: string
          x-konfig-original-example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-2-schema
        style: form
      - description: The query metadata of the recording if using an on-premise meeting
          connector for the meeting.
        explode: true
        in: query
        name: mc
        required: false
        schema:
          default: "false"
          example: "false"
          type: string
          x-konfig-original-example: "false"
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-3-schema
        style: form
      - description: "The query trash.\n* `true` - List recordings from trash.  \n\
          * `false` - Do not list recordings from the trash.  \n\nThe default value\
          \ is `false`. If you set it to `true`, you can use the `trash_type` property\
          \ to indicate the type of Cloud recording that you need to retrieve. "
        explode: true
        in: query
        name: trash
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-4-schema
        style: form
      - description: "The start date in 'yyyy-mm-dd' UTC format for the date range\
          \ where you would like to retrieve recordings. The maximum range can be\
          \ a month. If no value is provided for this field, the default will be current\
          \ date. \n\nFor example, if you make the API request on June 30, 2020, without\
          \ providing the `from` and `to` parameters, by default the value of 'from'\
          \ field will be `2020-06-30` and the value of the 'to' field will be `2020-07-01`.\
          \ \n\n**Note**: The `trash` files cannot be filtered by date range and thus,\
          \ the `from` and `to` fields should not be used for trash files."
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2020-06-30
          format: date
          type: string
          x-konfig-original-example: 2020-06-30
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-5-schema
        style: form
      - description: 'The end date in ''yyyy-mm-dd'' ''yyyy-mm-dd'' UTC format. '
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 2020-06-30
          format: date
          type: string
          x-konfig-original-example: 2020-06-30
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-6-schema
        style: form
      - description: "The type of cloud recording to retrieve from the trash. \n \n\
          \ *   `meeting_recordings`: List all meeting recordings from the trash.\
          \  \n *  `recording_file`: List all individual recording files from the\
          \ trash. "
        explode: true
        in: query
        name: trash_type
        required: false
        schema:
          default: meeting_recordings
          example: meeting_recordings
          type: string
          x-konfig-original-example: meeting_recordings
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-7-schema
        style: form
      - description: The meeting ID.
        explode: true
        in: query
        name: meeting_id
        required: false
        schema:
          example: 6840331990
          type: integer
          x-konfig-original-example: 6840331990
          x-konfig-generated-schema: konfig-generated-schema-paths--users-userId-recordings-get-parameters-8-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordingListRecordingsResponse'
          description: "**HTTP Status Code:** `200`  \n \nList of recording objects\
            \ returned."
        "401":
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error\
            \ Code:** `124` <br>\n Requires an access token. <br>\n"
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error\
            \ Code:** `1001` <br>\n User {userId} does not exist, or does not belong\
            \ to this account. <br>\n**Error Code:** `3301` <br>\n There is no recording\
            \ for this session. <br>\n"
      security:
      - openapi_oauth:
        - recording:read:admin
        - recording:read
        openapi_authorization: []
      summary: List all recordings
      tags:
      - Cloud Recording
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--users-userId-recordings
      x-accepts: application/json
  /devices:
    get:
      description: "This API lets you list devices. \n\n\n\n**Scopes:** `device:read:admin`,`device:write:admin`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `HEAVY`"
      operationId: Devices_list
      parameters:
      - description: Filter devices by name or serial number.
        explode: true
        in: query
        name: search_text
        required: false
        schema:
          example: poly
          type: string
          x-konfig-original-example: poly
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-0-schema
        style: form
      - description: Filter devices by platform operating system.
        explode: true
        in: query
        name: platform_os
        required: false
        schema:
          enum:
          - win
          - mac
          - ipad
          - iphone
          - android
          - linux
          example: win
          type: string
          x-konfig-original-example: win
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-1-schema
        style: form
      - description: Filter devices by enrollment of ZDM (Zoom Device Management).
        explode: true
        in: query
        name: is_enrolled_in_zdm
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-2-schema
        style: form
      - description: "Filter devices by device type.  \n  Device Type:  \n `-1` -\
          \ All Zoom Room device(0,1,2,3,4,6).  \n `0` - Zoom Rooms Computer.  \n\
          \ `1` - Zoom Rooms Controller.  \n `2` - Zoom Rooms Scheduling Display.\
          \  \n `3` - Zoom Rooms Control System.  \n `4` -  Zoom Rooms Whiteboard.\
          \  \n `5` - Zoom Phone Appliance.  \n `6` - Zoom Rooms Computer (with Controller)."
        explode: true
        in: query
        name: device_type
        required: false
        schema:
          default: -1
          enum:
          - -1
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-3-schema
        style: form
      - description: Filter devices by vendor.
        explode: true
        in: query
        name: device_vendor
        required: false
        schema:
          example: poly
          type: string
          x-konfig-original-example: poly
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-4-schema
        style: form
      - description: Filter devices by model.
        explode: true
        in: query
        name: device_model
        required: false
        schema:
          example: ep5
          type: string
          x-konfig-original-example: ep5
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-5-schema
        style: form
      - description: "Filter devices by status.   \n  Device Status:  \n `0` - offline.\
          \  \n `1` - online.  \n `-1` - unlink"
        explode: true
        in: query
        name: device_status
        required: false
        schema:
          default: -1
          enum:
          - -1
          - 0
          - 1
          example: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-6-schema
        style: form
      - description: The number of records returned within a single API call.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          example: 30
          maximum: 300
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-7-schema
        style: form
      - description: Use the next page token to paginate through large result sets.
          A next page token is returned whenever the set of available results exceeds
          the current page size. This token's expiration period is 15 minutes.
        explode: true
        in: query
        name: next_page_token
        required: false
        schema:
          example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          type: string
          x-konfig-original-example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-get-parameters-8-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesListResponse'
          description: "**HTTP Status Code:** `200` **OK**  \n \nDevice detail returned\
            \ successfully."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `30055008` <br>
            no permission.

      security:
      - openapi_oauth:
        - device:read:admin
        - device:write:admin
        openapi_authorization: []
      summary: List devices
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--devices
      x-accepts: application/json
    post:
      description: "Add a new device to Zoom account. \n\n**Scope:** `device:write:admin`\
        \   \n \n **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):**\
        \ `Medium`\n\n**Scopes:** `device:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `MEDIUM`"
      operationId: Devices_createNewDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesCreateNewDeviceRequest'
      responses:
        "202":
          description: |-
            **HTTP Status:** `202` **Accepted**
            Request processed successfully.
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error\
            \ Code:** `30055001` <br>\n zoom room does not exist.  <br>\n**Error Code:**\
            \ `30055002` <br>\n required param can not be empty or null. <br>\n**Error\
            \ Code:** `30055003` <br>\n device type does not support. <br>\n**Error\
            \ Code:** `30055004` <br>\n model or vendor not exist. <br>\n**Error Code:**\
            \ `30055005` <br>\n tag length can not be more than 64. <br>\n**Error\
            \ Code:** `30055006` <br>\n device has already exist. <br>\n**Error Code:**\
            \ `30055007` <br>\n invalid mac address. <br>\n**Error Code:** `30055008`\
            \ <br>\n no permission. <br>\n**Error Code:** `30055009` <br>\n email\
            \ does not have plan. <br>\n"
      security:
      - openapi_oauth:
        - device:write:admin
        openapi_authorization: []
      summary: Add a new device
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--devices
      x-content-type: application/json
      x-accepts: application/json
  /devices/groups:
    get:
      description: |-
        Get Zoom Device Manager (ZDM) group information for an account.

        **Scopes:** `device:read:admin`

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`
      operationId: Devices_listZdmGroupInfo
      parameters:
      - description: |-
          The total number of records returned from a single API call.
          Default - 30.
          Max -100.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: 30
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-groups-get-parameters-0-schema
        style: form
      - description: Use the next page token to paginate through large result sets.
          A next page token is returned whenever the set of available results exceeds
          the current page size. This token's expiration period token is 15 minutes.
        explode: true
        in: query
        name: next_page_token
        required: false
        schema:
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
          type: string
          x-konfig-original-example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-groups-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesListZdmGroupInfoResponse'
          description: '**HTTP Status Code:** `200` **OK**  Version detail returned
            successfully.'
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error\
            \ Code:** `30051037` <br>\n Invalid parameters. <br>\n"
        "403":
          description: "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error\
            \ Code:** `30055008` <br>\n No permission. <br>\n"
      security:
      - openapi_oauth:
        - device:read:admin
        openapi_authorization: []
      summary: Get zdm group info
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--devices-groups
      x-accepts: application/json
  /devices/zpa/assignment:
    post:
      description: |-
        Assign a device to a user or common area, or move a device to another user or common area, or remove a device.

        **Prerequisites:**
        * Device must be enrolled in Zoom Device Management (ZDM).

        **Scopes:** `device:write:admin`

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`
      operationId: Devices_assignDeviceZpaAssignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesAssignDeviceZpaAssignmentRequest'
      responses:
        "204":
          description: '**HTTP Status Code:** `204` **No Content**   Request processed
            successfully.'
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error\
            \ Code:** `30055003` <br>\n Device vendor does not support. <br>\n**Error\
            \ Code:** `30055007` <br>\n Mac address is wrong. <br>\n**Error Code:**\
            \ `30051039` <br>\n Device not exists. <br>\n**Error Code:** `30055002`\
            \ <br>\n AUTO RECEPTIONIST user can not assign to device. <br>\n**Error\
            \ Code:** `30055009` <br>\n User not have phone plan. <br>\n**Error Code:**\
            \ `30052024` <br>\n Extension number not exists. <br>\n**Error Code:**\
            \ `30055002` <br>\n Missing required input. <br>\n"
      security:
      - openapi_oauth:
        - device:write:admin
        openapi_authorization: []
      summary: Assign a device to a user or commonarea
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--devices-zpa-assignment
      x-content-type: application/json
      x-accepts: application/json
  /devices/zpa/upgrade:
    post:
      description: |-
        Upgrade ZPA firmware or app by Zoom Device Manager (ZDM) group ID.

        **Scopes:** `device:write:admin`

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`
      operationId: Devices_upgradeZpaOsApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesUpgradeZpaOsAppRequest'
      responses:
        "202":
          description: The upgrade request has been accepted and is currently being
            processed.
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error\
            \ Code:** `30052029` <br>\n Missing required input: firmware_versions.\
            \ <br>\n**Error Code:** `30055020` <br>\n Upgrade type dose not exist.\
            \ <br>\n**Error Code:** `30055018` <br>\n Zdm group id dose not exist.\
            \ <br>\n**Error Code:** `30052030` <br>\n Missing required input: app_version.\
            \ <br>\n"
      security:
      - openapi_oauth:
        - device:write:admin
        openapi_authorization: []
      summary: upgrade zpa os/app
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--devices-zpa-upgrade
      x-content-type: application/json
      x-accepts: application/json
  /devices/zpa/vendors/{vendor}/mac_addresses/{macAddress}:
    delete:
      description: |-
        Remove a ZPA device from the device manager, by vendor and mac address.

        **Scopes:** `device:write:admin`

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`
      operationId: Devices_removeZpaDeviceByVendorAndMacAddress
      parameters:
      - description: The device's manufacturer.
        explode: false
        in: path
        name: vendor
        required: true
        schema:
          example: Poly
          type: string
          x-konfig-original-example: Poly
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-zpa-vendors-vendor-mac_addresses-macAddress-delete-parameters-0-schema
        style: simple
      - description: The device's mac address.
        explode: false
        in: path
        name: macAddress
        required: true
        schema:
          example: 64167ffc0ed7
          type: string
          x-konfig-original-example: 64167ffc0ed7
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-zpa-vendors-vendor-mac_addresses-macAddress-delete-parameters-1-schema
        style: simple
      responses:
        "204":
          description: '**HTTP Status Code:** `204` **No Content** Device deleted
            successfully.'
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error\
            \ Code:** `30052026` <br>\n Device is not ZPA. <br>\n**Error Code:** `30055003`\
            \ <br>\n Device vendor does not support. <br>\n**Error Code:** `30055007`\
            \ <br>\n Mac address is wrong. <br>\n"
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error\
            \ Code:** `30051039` <br>\n Zdm device not found. <br>\n"
      security:
      - openapi_oauth:
        - device:write:admin
        openapi_authorization: []
      summary: Delete ZPA device by vendor and mac address
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--devices-zpa-vendors-vendor-mac_addresses-macAddress
      x-accepts: application/json
  /devices/zpa/zdm_groups/{zdmGroupId}/versions:
    get:
      description: |-
        Get ZPA firmware and app version information that can be upgraded for devices.

        **Scopes:** `device:read:admin`

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`
      operationId: Devices_getZpaVersionInfo
      parameters:
      - description: The Zoom Device Management (ZDM) group ID.
        explode: false
        in: path
        name: zdmGroupId
        required: true
        schema:
          example: ff49588c-92c4-4406-99e6-1942d8a61a7b
          type: string
          x-konfig-original-example: ff49588c-92c4-4406-99e6-1942d8a61a7b
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-zpa-zdm_groups-zdmGroupId-versions-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesGetZpaVersionInfoResponse'
          description: '**HTTP Status Code:** `200` **OK**  Version detail returned
            successfully.'
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error\
            \ Code:** `30051037` <br>\n * AccountId is empty. <br>\n"
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error\
            \ Code:** `30052027` <br>\n * ZdmGroup not found. <br>\n"
      security:
      - openapi_oauth:
        - device:read:admin
        openapi_authorization: []
      summary: Get ZPA version info
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--devices-zpa-zdm_groups-zdmGroupId-versions
      x-accepts: application/json
  /devices/{deviceId}:
    delete:
      description: "Delete a device from a Zoom account. \n\n**Prerequisites:**\n\
        * Device must be enrolled in ZMD (Zoom Device Management)\n\n**Scopes:** `device:write:admin`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `HEAVY`"
      operationId: Devices_removeDeviceZMD
      parameters:
      - description: Unique identifier of the device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          type: string
          x-konfig-original-example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-deviceId-delete-parameters-0-schema
        style: simple
      responses:
        "204":
          description: '**HTTP Status Code:** `204` **No Content** Device deleted
            successfully.'
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error\
            \ Code:** `30055008` <br>\n no permission. <br>\n"
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error\
            \ Code:** `30055012` <br>\n no found unified deviceId. <br>\n"
      security:
      - openapi_oauth:
        - device:write:admin
        openapi_authorization: []
      summary: Delete device
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--devices-deviceId
      x-accepts: application/json
    get:
      description: |-
        Retrieve a device's details.

        **Scopes:** `device:read:admin`,`device:write:admin`

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`
      operationId: Devices_getDetail
      parameters:
      - description: The device's unique identifier.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          type: string
          x-konfig-original-example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-deviceId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesGetDetailResponse'
          description: "**HTTP Status Code:** `200` **OK** \n \nDevice detail returned\
            \ successfully."
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error\
            \ Code:** `30055008` <br>\n No permission. <br>\n"
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error\
            \ Code:** `30055012` <br>\n No found unified deviceId. <br>\n"
      security:
      - openapi_oauth:
        - device:read:admin
        - device:write:admin
        openapi_authorization: []
      summary: Get device detail
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--devices-deviceId
      x-accepts: application/json
    patch:
      description: "Change device name. \n\n**Prerequisites:**\n* Device must be enrolled\
        \ in ZMD (Zoom Device Management)\n\n**Scopes:** `device:write:admin`\n\n\
        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `MEDIUM`"
      operationId: Devices_updateDeviceName
      parameters:
      - description: Unique identifier of the device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          type: string
          x-konfig-original-example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-deviceId-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesUpdateDeviceNameRequest'
      responses:
        "204":
          description: "**HTTP Status Code:** `204` **No Content** \n \nRequest processed\
            \ successfully."
        "400":
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error\
            \ Code:** `30055001` <br>\n zoom room does not exist. . <br>\n**Error\
            \ Code:** `30055002` <br>\n required param can not be empty or null. <br>\n\
            **Error Code:** `30055003` <br>\n device type does not support. <br>\n\
            **Error Code:** `30055011` <br>\n device is not enrolled. <br>\n**Error\
            \ Code:** `30055013` <br>\n device not support this app. <br>\n**Error\
            \ Code:** `30055014` <br>\n room not support this app. <br>\n"
        "404":
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error\
            \ Code:** `30055012` <br>\n Device does not exist: {deviceId}. <br>\n"
      security:
      - openapi_oauth:
        - device:write:admin
        openapi_authorization: []
      summary: 'Change device '
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--devices-deviceId
      x-content-type: application/json
      x-accepts: application/json
  /devices/{deviceId}/assignment:
    patch:
      description: "This Device API lets you change device association from one Zoom\
        \ Room to another. \n\n**Prerequisites:**\n* Device must be enrolled in ZMD\
        \ (Zoom Device Management) \n\n\n\n**Scopes:** `device:write:admin`\n\n**[Rate\
        \ Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`"
      operationId: Devices_changeDeviceAssociation
      parameters:
      - description: Unique identifier of the device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          type: string
          x-konfig-original-example: F1C6E9DF-429E-4FA1-85DA-AC95464F3D18
          x-konfig-generated-schema: konfig-generated-schema-paths--devices-deviceId-assignment-patch-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicesChangeDeviceAssociationRequest'
      responses:
        "204":
          description: "**HTTP Status Code:** `204` **No Content**  \n \nRequest processed\
            \ successfully."
        "400":
          description: |+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `8500` <br>
            Device not enrolled in Zoom Device Management.

            **Error Code:** `8501` <br>
            Device does not support this app.

            **Error Code:** `8502` <br>
            Room does not support this app.

        "404":
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1012` <br>
            Room does not exist: {roomId}.

            **Error Code:** `8503` <br>
            Device does not exist: {deviceId}.

      security:
      - openapi_oauth:
        - device:write:admin
        openapi_authorization: []
      summary: Change device association
      tags:
      - Devices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--devices-deviceId-assignment
      x-content-type: application/json
      x-accepts: application/json
  /h323/devices:
    get:
      description: "A H.323 or SIP device can make a video call to a [Room Connector](https://support.zoom.us/hc/en-us/articles/201363273-Getting-Started-With-H-323-SIP-Room-Connector)\
        \ to join a Zoom cloud meeting. A Room Connector can also call out to a H.323\
        \ or SIP device to join a Zoom cloud meeting. Use this API to list all H.323/SIP\
        \ Devices on a Zoom account.  \n   \n\n \n\n\n**Scopes:** `h323:read:admin`\n\
        \n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**\
        \ `Medium`"
      operationId: H323Devices_listDevices
      parameters:
      - description: The number of records returned within a single API call.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          example: 30
          maximum: 300
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--h323-devices-get-parameters-0-schema
        style: form
      - description: "**Deprecated.** We will no longer support this field in a future\
          \ release. Instead, use the `next_page_token` for pagination."
        explode: true
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          example: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--h323-devices-get-parameters-1-schema
        style: form
      - description: Use the next page token to paginate through large result sets.
          A next page token is returned whenever the set of available results exceeds
          the current page size. This token's expiration period is 15 minutes.
        explode: true
        in: query
        name: next_page_token
        required: false
        schema:
          example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          type: string
          x-konfig-original-example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          x-konfig-generated-schema: konfig-generated-schema-paths--h323-devices-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
